* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "gilroy-bold", sans-serif;
}

/* HERO SECTION */

.hero_section {
  background-image: url(/Image/aurora.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 1%;
}

nav {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: space-around;
  align-items: center;
}

.hero_link {
  display: inline-block;
  list-style: none;
  margin-left: 2rem;
}
.nav_link,
.button_link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #141414;
  font-family: gilroy-medium;
}

.first {
  color: #0065fe;
}

.nav_icon {
  width: 1.2rem;
  height: 1.2rem;
  transform: translate(0%, 20%);
}

.nav_button {
  display: inline-block;
  margin-left: 1.5rem;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  min-width: 8rem;
  text-align: center;
}

.button_link {
  color: #0065fe;
}
.blue {
  background-color: #0065fe;
  color: #fff;
}

.b {
  color: #fff;
}

.Hero-logo {
  display: inline-block;
  margin-right: 15rem;
}

.hero_intro {
  width: 50%;
  min-height: 25rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
  position: relative;
}

.hero_h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
}

.blue_color {
  color: #0065fe;
}

.absolute {
  display: inline-block;
  width: 10rem;
  margin-top: -15rem;
}

.intro_absolute {
  width: 12rem;
  transform: translate(-2%, -50%);
}

.intro_paragraph {
  font-size: 1.5rem;
  line-height: 1.75;
  margin-bottom: 3.5rem;
  font-family: gilroy-medium;
}

.hero_image_container {
  margin: 0 auto;
  width: 50%;
}

.hero_image2 {
  margin-left: -10rem;
}

.eclipse_container {
  background-image: url(/Image/Rectangle.png);
}

/* MAIN INFO SECTION */

main {
  width: 100%;
  min-height: 50rem;
  padding-top: 5%;
  overflow-x: hidden;
}

.main_info {
  display: grid;
  grid-template-columns: repeat(6, 22rem);
  background: #112232, #4d6b88;
  padding-left: 10%;
}

.gridspan {
  grid-column: span 2/3;
  font-size: 2.5rem;
}

.info_h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: -2px;
}

.first_h1 {
  font-size: 3.5rem;
}

.info_p {
  width: 11rem;
  font-size: 1.5rem;
  font-family: gilroy-medium;
}

.main_info2 {
  width: 80%;
  min-height: 15rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8rem 8rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.scissors {
  grid-row: span 2/3;
}

.cspan {
  height: 20px;
  margin-right: 0.5rem;
}
.h1span {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.scissors2 {
  font-size: 2rem;
  font-weight: 550;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.scissors3 {
  width: 27rem;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: gilroy-medium;
}

.image_cover {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(50, 132, 255, 0.13);
}

.scissors1_icon {
  width: 30px;
  height: 30px;
  transform: translate(32%, 30%);
}

.price_h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.price_p {
  margin: 0 auto;
  font-size: 1.5rem;
  width: 35%;
  text-align: center;
  padding-bottom: 8rem;
  font-family: gilroy-medium;
}

.price_flex {
  display: flex;
  margin: 0 auto;
  width: 68%;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 10rem;
}

.price_flex_c {
  border: 0.3px solid blue;
  padding: 2.5rem 2rem 2.5rem 2rem;
  border-radius: 6px 6px 6px 6px;
}

.price_h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.price_h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.checker {
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
}

.img {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.h4 {
  font-size: 1.5rem;
}

.Professional {
  height: 30rem;
  position: absolute;
  transform: translate(0%, -13%);
  padding-top: 4%;
  background-color: #1e3448;
  color: #fff;
  width: 21rem;
  border: none;
  left: 41.3%;
}

.Teams {
  padding-left: 5%;
  box-sizing: border-box;
}

.price_button {
  text-align: center;
  font-size: 1rem;
}

.Get {
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: 0.2px solid blue;
}

.g {
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

/* FORM SECTION */

.url_form {
  display: flex;
  width: 100%;
  position: relative;
  height: 30rem;
  margin-top: 5rem;
  background-color: #1e3448;
  justify-content: space-between;
  opacity: 1;
}

.spiral_img {
  width: 30rem;
  height: 30rem;
}
form {
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  width: 35rem;
  min-height: 20rem;
  box-sizing: border-box;
  left: 38%;
  top: 20%;
  padding: 2rem 3rem 2rem 3rem;
}

label {
  display: block;
  margin-bottom: 2rem;
  width: 80%;
}

.paste,
.Domain_flex {
  width: 100%;
  display: block;
  border-radius: 6px 6px 6px 6px;
  border: 0.2px solid #005ae2;
  outline: none;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  color: #005ae2;
  font-size: 1.2rem;
  margin: 0 auto;
}

::placeholder {
  color: #005ae2;
  font-size: 1.2rem;
}

.label_flex {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.url_btn {
  width: 100%;
  height: 2rem;
  background-color: #005ae2;
  color: #fff;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  padding: 1rem 0 2.5rem 0rem;
  text-align: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.wand {
  width: 20px;
  height: 15px;
}

.form_text,
::placeholder {
  color: #005ae2;
  font-size: 1.2rem;
  font-family: gilroy-medium;
}

/* FAQs SECTION */

.FAQs {
  text-align: center;
  padding-top: 5%;
}

.FAQs_c {
  /* width: 50%;
    margin: 0 auto;
    min-height: 30rem; */

  width: 45%;
  height: 65rem;
  margin-left: 15rem;
  box-sizing: border-box;
}
.FAQs_p {
  font-family: gilroy-medium;
}

.FAQs_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.02px solid #d6d6d6;
  padding: 1.5rem 2rem 1.5rem 2rem;
  font-size: 1.8rem;
  position: relative;
}

.FAQs_img {
  width: 17px;
  height: 17px;
}

.FAQs_text {
  position: absolute;
  top: 50%;
  font-size: 1.1rem;
  line-height: 1.7;
  width: 50rem;
  font-family: gilroy-medium;
}

.FAQs_p1 {
  margin-bottom: 2rem;
}

.f1 {
  padding-bottom: 5rem;
}

.FAQs_container {
  display: flex;
  position: relative;
  height: 50rem;
  padding-top: 3%;
  margin-bottom: 20rem;
}

.s2 {
  width: 25rem;
  position: absolute;
  right: -2rem;
  bottom: -15rem;
}

/* GET STARTED SECTION*/

.url_form_copy {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  color: #fff;
}

.link {
  background-color: #005ae2;
  color: #fff;
  width: 12rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 10px 10px 10px 10px;
  border: none;
  outline: none;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.f {
  height: 15rem;
}

.url_form_copy h1 {
  font-size: 3.5rem;
}

.si {
  height: 100%;
}

/* FOOTER SECTION*/

footer {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 70rem;
  justify-content: space-between;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  padding-top: 7%;
  width: 60%;
  gap: 5rem 5rem;
  left: 18%;
}

.picture {
  grid-row: span 2/3;
}

.footer_h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer_li {
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
  font-family: gilroy-medium;
}

.footer_logo {
  display: block;
  text-align: left;
  margin-bottom: 1.2rem;
}

.social_media {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.copyright {
  position: absolute;
  right: 4%;
  bottom: 2%;
}

.copyright_text {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0rem 0.5rem 0rem 0.5rem;
  color: #141414;
  font-size: 1.3rem;
  border-right: 0.2px solid black;
  font-family: gilroy-medium;
}

.copyright_text:last-child {
  border: none;
}
